@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: rgb(229, 137, 32);
}

.slide-up{
  animation: slide-up 0.75s cubic-bezier(0.65, 0, 0.35, 1) both;
}
@keyframes slide-up{
  0%{
    transform: translateY(100px)
  }
  100%{
    transform: translateY(0)
  }
}